<!DOCTYPE html>
<html lang="en">

    <%- include("./partials/head.ejs") %>
<body>

    <%- include("./partials/header.ejs") %>

    <h1>**Add all the ways to make contact in a fancy way using parallax with images**</h1>
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>