<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

<body>    
    <%- include("./partials/header.ejs") %>
    
    asdfasfdrasdfasdfasdf
    <div class="content">
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>

    <!-- </div>
        <div class = "cat">
            <img src = "./images/cat.png" alt = "Cat" height="200px">
            <h1 class = "cat">asdfasdfa</h1>
        </div>
    <div> -->


        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
        <h1>Hello!!</h1>
    </div>
        afdgasdfgasdgfasdfgsadfgsdgasdfgsdafg
    </div>


    

    <!-- <script>
        import { ParallaxController } from 'parallax-controller';
        const controller = ParallaxController.init();

        controller.createElement({
            el: document.querySelector('.cat'),
            props: {
              translateY: [-100, 100],
              opacity: [0.4, 1],
            },
        });
    </script> -->
    
    <%- include("./partials/footer.ejs") %>
</body>
</html>